<!DOCTYPE html>
<html lang="en">
<head>
<!--  <base href="/">-->
  <title>Admin Panel</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

</head>

<body>
  <!------------------- LEFT PANEL ---------------->
  <div class="sidebar">
    <div class="logo"><h1>Admin panel <small class="block"><img src="/img/logo.svg"> Contriboard</small></h1></div>
    <ul class="nav nav-stacked">
      <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Overview</a></li>
      <li><a href="/users"><i class="fa fa-group"></i> Users</a>
      </li>
      <li><a href="/boards"><i class="fa fa-th"></i> Boards</a>
      </li>
      <li>
          <a href="/announcements"><i class="glyphicon glyphicon-bullhorn"></i> Announcements</a></li>
      <li><a href="/databases"><i class="fa fa-database"></i> Databases</a>
        <ul class="nav">
          <li><a href="/databases">Backup</a></li>
          <li><a href="/restore">Restore</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="header">Generate DB data</li>
            <li><a href="/generateusers/50">50 users</a></li>
            <li><a href="/generateboards/50">50 boards</a></li>
            <li><a href="/generatetickets/50">50 tickets</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
      </li>
    </ul>
    <div class="quickstats">
      <div class="divider"><div><i class="fa fa-server" title="Quick Stats"></i></div></div>
      <ul class="nav">
        <li>Boards <span class="badge pull-right"><%= boardCount %></span></li>
        <li>Tickets <span class="badge pull-right"><%= ticketCount %></span></li>
        <li>Power Users <span class="badge pull-right"><%= userCount %></span></li>
        <li>Guests <span class="badge pull-right"><%= guestCount %></span></li>
      </ul>
    </div>
  </div>

  <!------------------- MAIN VIEW ---------------->
  <main class="main">
    <%- include(partial) %>
  </main>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script></script>
</body>
</html>
